@font-face {
  font-family: 'stm_montreal';
  src: url('stmmontreal_bold-webfont.eot');
  src: url('stmmontreal_regular-webfont.woff') format('woff');
}
a {
  color: inherit;
}
body {
  font-family: 'stm_montreal', sans-serif;
  color: #009EE0;
  background-color: white;
  background: url("stm_web1.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  text-align: justify;
}
input[type=email] {
  border-radius: 3px;
  border: none;
}
input[type=submit] {
  background-color: #009EE0;
  border: 1px;
  border-radius: 6px;
  text-align: center;
  color: #e0d215;
  font-size: 18;
  font-family: 'stm_montreal';
  display: inline-block;
  margin: 18px;
  height: 36px;
  width: 96px;
}
input[type=submit]:hover{
  filter: brightness(90%);
}
#subscribeContainer {
  display: none;
  left: 35%;
  top: 38%;
  position: absolute;
  height: 200px;
}
#mc-embed-signup {
  text-align: center;
}
#defaultContainer {
  color: #fff;
  display: block;
  height: 480px;
  left: 10%;
  position: absolute;
  top: 13%;
  width: 550px;
  text-align: justify;
}
#defaultContainer a {
  color: #009EE0;
}
#defaultContainer li {
  font-size: 14px;
}
#defaultImageContainer {
  display: block;
  left: 62%;
  position: absolute;
  top: 13%;
  height: 472px;
}
#defaultWindow {
  height: 100%;
  margin-top: -10px;
}
#defaultImageWindow {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
}
#agreeButton {
  background-color: #009EE0;
  border: 1px;
  border-radius: 6px;
  text-align: center;
  color: #e0d215;
  padding: 5px;
}
#defaultMapWindow {
  display: none;
}
#googleMap {
  display: none;
}
#posterContainer {
  height: 500px;
  width: 420px;
  position: absolute;
  top: 10%;
  left: 5%;
}
#posterWindow {
  height: 100%;
  width: 100%;
}
#mixcloudContainer {
  position: absolute;
  top: 22%;
  left: 62%;
}
#expandPosterWindow {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  vertical-align: middle;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
#expandPosterWindow:hover {
  cursor: zoom-out;
}
#streamContainer {
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  left: 75%;
}
.scrollable {
  overflow: scroll;
  height: 270px;
  text-align: center;
}
.scrollable::-webkit-scrollbar {
  display: none;
}
.container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  width: 420px;
  padding: 25px;
  height: 270px;
}
.close {
	position: absolute;
	font-weight: bold;
	top: 0.5em;
	right: 0.5em;
  color: #009EE0;
  font-size: 24px;
  text-decoration: none;
}
.close:hover {
  filter: brightness(80%);
  cursor: zoom-out;
}
.mixcloudRow {
  padding-top: 12px;
  padding-left: 4px;
  padding-right: 4px;
}
.posterRow {
  padding-top: 8px;
}
.posterRow:hover {
  cursor: zoom-in;
}
#streamImage:hover {
  filter: brightness(90%);
  cursor: pointer;
}
#linkBar {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
.linkColumn {
  float: left;
  display: table-cell;
  font-size: 24px;
}
.linkColumn:hover {
  filter: brightness(90%);
  cursor: zoom-in;
}
#aboutContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-y: hidden;
  background: linear-gradient(to top, #C3BD15, #C3BD15 95%, transparent 98%);
}
#aboutBar {
  position: relative;
  font-size: 24px;
}
#aboutBar:hover {
  filter: brightness(90%);
  cursor: zoom-in;
}
#attribution {
  font-size: 10px;
  color: #535353;
  margin-top: -10px;
}
.shrink, .grow {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
.grow {
  max-height: 200px;
}

@media only screen and (max-width: 800px) {
  body {
    background: #C3BD15 url("stm_web1.png")no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #subscribeContainer {
    position: fixed;
    width: 98%;
    left: 5px;
    top: 62%;
    height: 25%;
  }
  #mc-embed-signup {
    text-align: center;
  }
  #defaultContainer {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 76%;
    width: 86%;
    top: 10%;
    left: 5px;
  }
  #defaultImageContainer {
    display: none;
  }
  #posterContainer {
    position: fixed;
    width: 98%;
    left: 5px;
    top: 80px;
    height: 80%;
  }
  #posterWindow {
    height: 100%;
    width: 100%;
  }
  #mixcloudContainer {
    width: 98%;
    left: 5px;
    top: 80px;
    position: fixed;
  }
  #expandPosterWindow {
    width: 0%;
    height: 0%;
    top: 5000px;
    left: 5000px;
    vertical-align: bottom;
    text-align: right;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  #expandPosterWindow:hover {
    cursor: zoom-out;
  }
  #streamContainer {
    padding: 25px;
    text-align: center;
    vertical-align: middle;
    height: 120px;
    width: 120px;
    position: fixed;
    top: 80px;
    left: 35%;
  }
  .scrollable {
    overflow: scroll;
    height: 100%;
    text-align: center;
  }
  .scrollable::-webkit-scrollbar {
    display: none;
  }
  .container {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 98%;
    left: 5px;
    top: 75px;
    padding: 0px;
    height: 80%;
  }
  .close {
  	position: absolute;
  	font-weight: bold;
  	top: 0.5em;
  	right: 0.5em;
    color: #009EE0;
    font-size: 24px;
    text-decoration: none;
  }
  .close:hover {
    color: #009EE0;
    cursor: zoom-out;
  }
  .mixcloudRow {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 4px;
    width: 91%;
  }
  .posterRow {
    padding-top: 8px;
  }
  .posterRow:hover {
    cursor: zoom-in;
  }
  #linkBar {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
  }
  .linkColumn {
    float: left;
    display: table-cell;
    font-size: 15px;
  }
  .linkColumn:hover {
    color: #0088c1;
    cursor: zoom-in;
  }
  #aboutContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow-y: hidden;
    background: linear-gradient(to top, #C3BD15, #C3BD15 95%, transparent 98%);
  }
  #aboutBar {
    position: relative;
    font-size: 20px;
  }
  #aboutBar:hover {
    color: #0088c1;
    cursor: zoom-in;
  }
  .shrink, .grow {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 500ms ease-in-out;
    -moz-transition: max-height 500ms ease-in-out;
    -o-transition: max-height 500ms ease-in-out;
    transition: max-height 500ms ease-in-out;
  }
  .grow {
    max-height: 300px;
  }
}
