@font-face {
  font-family: 'stm_montreal';
  src: url('stmmontreal_bold-webfont.eot');
  src: url('stmmontreal_regular-webfont.woff') format('woff');
}
a {
  color: inherit;
}
body {
  font-family: 'stm_montreal', sans-serif;
  color: #009EE0;
  background-color: white;
  background: url("stm_web1.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  text-align: justify;
}
input[type=email] {
  border-radius: 3px;
  border: none;
}
input[type=submit] {
  background-color: #009EE0;
  border: 1px;
  border-radius: 6px;
  text-align: center;
  color: #e0d215;
  font-size: 18;
  font-family: 'stm_montreal';
  display: inline-block;
  margin: 18px;
  height: 36px;
  width: 96px;
}
input[type=submit]:hover{
  filter: brightness(90%);
}
#subscribeContainer {
  display: none;
  left: 35%;
  top: 38%;
  position: absolute;
  height: 200px;
}
#mc-embed-signup {
  text-align: center;
}
#eventContainer1 {
  left: 33%;
  position: absolute;
  top: 10%;
}
#eventContainer2 {
  display: none;
  right: 12%;
  position: absolute;
  top: 13%;
}
.infoContainer {
  color: #fff;
  display: none;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 25px;
  left: 28%;
  position: absolute;
  top: 13%;
  width: 550px;
  text-align: justify;
}
.infoContainer a {
  color: #009EE0;
}
.infoContainer p {
  font-size: 12px;
}
.infoContainer h3 {
  color: #009EE0;
}
#defaultImageContainer {
  display: none;
  left: 62%;
  position: absolute;
  top: 13%;
  height: 500px;
}
#defaultWindow {
  height: 100%;
  margin-top: -10px;
}
#defaultImageWindow {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
}
#agreeButton {
  background-color: #009EE0;
  border: 1px;
  border-radius: 6px;
  text-align: center;
  color: #e0d215;
  padding: 5px;
}
#defaultMapWindow {
  display: none;
  height: 100%;
}
#googleMap {
  display: none;
}
#posterContainer {
  height: 500px;
  width: 420px;
  position: absolute;
  top: 10%;
  left: 5%;
}
#posterWindow {
  height: 100%;
  width: 100%;
}
#mixcloudContainer {
  position: absolute;
  width: 600px;
  height: 420px;
  top: 22%;
  left: 40%;
}
#mixcloudWindow {
  height: 100%;
}
#expandPosterWindow {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  vertical-align: middle;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
#expandPosterWindow:hover {
  cursor: zoom-out;
}
#cvContainer {
  position: relative;
  width: fit-content;
  top: 25%;
  left: 40%;
  height: fit-content;
}
#rentalContainer {
  position: relative;
  width: fit-content;
  top: 20%;
  left: 35%;
  height: fit-content;
}
#rentalList {
  text-align: left;
}
#streamContainer {
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  left: 75%;
}
.scrollable {
  overflow: scroll;
  height: 270px;
  text-align: center;
}
.scrollable::-webkit-scrollbar {
  display: none;
}
.scrollablex {
  overflow: auto;
  height: 270px;
  white-space: nowrap;
}
.container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  width: 420px;
  padding: 25px;
  height: 270px;
}
.eventContainer {
  color: #fff;
  display: inline;
  height: 75%;
  padding-top: 25px;
}
.eventContainer p {
  font-size: 11px;
}
.eventContainer a {
  color: #009EE0;
  text-decoration: none;
}
.close {
	position: absolute;
	font-weight: bold;
	top: 0.5em;
	right: 0.5em;
  color: #009EE0;
  font-size: 24px;
  text-decoration: none;
}
.close:hover {
  filter: brightness(80%);
  cursor: zoom-out;
}
.mixcloudRow {
  padding-top: 12px;
  padding-left: 4px;
  padding-right: 4px;
}
.posterRow {
  padding-top: 8px;
}
.posterRow:hover {
  cursor: zoom-in;
}
#streamImage:hover {
  filter: brightness(90%);
  cursor: pointer;
}
#hamburger-icon {
  top: -100%;
  position: absolute;
}
#linkBar {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;
}
.eventWindow {
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.eventWindow a {
  font-size: 18px;
}
.buttonBar {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.button {
  background-color: #009EE0;
  border: 1px;
  border-radius: 6px;
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  color: #e0d215;
  padding: 10px;
  margin-top: 3%;
  width: auto;
}
.button:hover {
  cursor: pointer;
}
.switchButton {
  display: none;
  border: 1px;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  margin-top: 3%;
}
.switchButton:hover {
  cursor: pointer;
}
 #addressContainer {
    text-align: justify;
 }
 #addressWindow {
  display: none;
  height: 100%;
 }
.linkColumn {
  float: left;
  display: table-cell;
  font-size: 24px;
}
.linkColumn:hover {
  filter: brightness(90%);
  cursor: zoom-in;
}
#aboutContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-y: hidden;
  background: linear-gradient(to top, #C3BD15, #C3BD15 95%, transparent 98%);
}
#aboutBar {
  position: relative;
  font-size: 16px;
}
#aboutBar:hover {
  filter: brightness(90%);
  cursor: zoom-in;
}
#attribution {
  font-size: 10px;
  color: #535353;
  margin-top: -10px;
}
.shrink, .grow {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
.grow {
  max-height: 200px;
}

@media only screen and (max-width: 800px) {
  body {
    background: #C3BD15 url("stm_web1.png")no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #subscribeContainer {
    display: none;
    position: fixed;
    width: 98%;
    left: 5px;
    height: fit-content;
    top: 62%;
    padding-bottom: 12px;
  }
  #mc-embed-signup {
    text-align: center;
  }
  .eventContainer {
    top: 20%;
  }
  #eventContainer1 {
    left: auto;
    height: 75%;
  }
  #eventContainer2 {
    display: none;
  }
  #addressContainer {
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 76%;
    width: 86%;
    top: 10%;
    left: 5px;
  }
  #hippodromeContainer {
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 76%;
    width: 86%;
    top: 10%;
    left: 5px;
  }
  #defaultImageContainer {
    display: none;
  }
  #posterContainer {
    position: fixed;
    width: 98%;
    left: 5px;
    top: 80px;
    height: 80%;
  }
  #posterWindow {
    height: 100%;
    width: 100%;
  }
  #mixcloudContainer {
    width: 98%;
    height: 85%;
    left: 5px;
    top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
  }
  #expandPosterWindow {
    width: 0%;
    height: 0%;
    top: 5000px;
    left: 5000px;
    vertical-align: bottom;
    text-align: right;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  #expandPosterWindow:hover {
    cursor: zoom-out;
  }
  #cvContainer {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 98%;
    top: 20%;
    left: 5px;
    height: fit-content;
  }
  #rentalContainer {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 98%;
    top: 20%;
    left: 5px;
    height: fit-content;
  }
  #rentalList {
    text-align: left;
    padding-left: 8%;
  }
  #streamContainer {
    padding: 25px;
    text-align: center;
    vertical-align: middle;
    height: 120px;
    width: 120px;
    position: fixed;
    top: 80px;
    left: 35%;
  }
  .scrollable {
    overflow: scroll;
    height: 100%;
    text-align: center;
  }
  .scrollable::-webkit-scrollbar {
    display: none;
  }
  .container {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 98%;
    left: 5px;
    top: 75px;
    padding: 0px;
    height: 80%;
  }
  .eventContainer {
    color: #fff;
    display: inline;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .close {
  	position: absolute;
  	font-weight: bold;
  	top: 0.5em;
  	right: 0.5em;
    color: #009EE0;
    font-size: 24px;
    text-decoration: none;
  }
  .close:hover {
    color: #009EE0;
    cursor: zoom-out;
  }
  .mixcloudRow {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 4px;
    width: 91%;
  }
  .posterRow {
    padding-top: 8px;
  }
  .posterRow:hover {
    cursor: zoom-in;
  }
  #hamburger-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  #linkBar {
    top: -100%;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: space-evenly;
    transition: top 0.5s ease-in-out; /* Add a smooth transition effect */ 
    overflow: hidden;
  }
  .linkColumn {
    float: left;
    display: table-cell;
    font-size: 18px;
  }
  .linkColumn:hover {
    filter: brightness(90%);
    cursor: zoom-in;
  }
  .show-linkBar {
    margin: 0;
    transition: margin 0.5s ease-in-out; /* Add a smooth transition effect */ 
  }
  /* .linkColumn {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  } */
  /* .linkColumn:hover {
    color: #0088c1;
    cursor: zoom-in;
  } */
  #aboutContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow-y: hidden;
    background: linear-gradient(to top, #C3BD15, #C3BD15 95%, transparent 98%);
  }
  #aboutBar {
    display: none;
    position: relative;
    font-size: 16px;
  }
  #aboutBar:hover {
    display: none;
    color: #0088c1;
    cursor: zoom-in;
  }
  .shrink, .grow {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 500ms ease-in-out;
    -moz-transition: max-height 500ms ease-in-out;
    -o-transition: max-height 500ms ease-in-out;
    transition: max-height 500ms ease-in-out;
  }
  .grow {
    max-height: 300px;
  }
}
